<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
<title>Ifinca</title>

</head>

<body style="width:100%; font-family: 'Roboto', sans-serif; margin:0" >

<div style="width:100%; float:left; text-align:center;">
  <div style="width: 800px; margin: auto; text-align: center; display: inline-block;">
<div style="width: 100%; background: url({{backgroundImg}});padding: 30px 0; background-size: cover; background-repeat: no-repeat;">
<div style="border: 2px solid #fff; width: auto; display: inline-block; padding: 5px 15px; border-radius: 10px; color: #fff; font-size: 16px;">{{order_no}}</div>
<div style="    text-align: center; margin: 20px 0;"><img src="{{coffeeChainLogo}}"></div>
<div style="width: 100%; text-align:center; display: inline-block;">
<div style="width: 25%; display: inline-block; text-align: center;">
<p  style="    color: #fff;
text-align: center;
font-size: 16px;
font-weight: 500;">ORIGIN <br>
  {{Country_of_Origin | default('-') |capitalize}}</p>
</div>
<div style="width: 20%; display: inline-block; text-align: center;">
  <p  style="    color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;">QUANTITY <br>
  {{quantity | default('-')}} {{base_unit | default('-')}} </p>
  </div>
  <div style="width: 20%; display: inline-block; text-align: center;">
    <p  style="    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 500;"> SACKS <br>
    {{main_quantity | default('-') }} ({{quantity_size | default(' ')}} {{base_unit}} ) </p>
    </div>
    <div style="width: 20%; display: inline-block; text-align: center;">
      <p  style="    color: #fff;
      text-align: center;
      font-size: 16px;
      font-weight: 500;">FARM GATE <br>
      ${{price | default('-')}} </p>
      </div>
</div>

</div>
<div style="width: 100%;;    display: inline-block;
text-align: center;
margin: 15px 0;">
<div style="width: 24%;vertical-align: top; display: inline-block; text-align: center;">
  <p  style="    color: #252525;
  text-align: center;
  font-size: 16px;
  font-weight: 500;"><b>Exporter
</b> <br>
{% for exp in exporters %}
{{exp.name | default('-') | capitalize  }}
{% if !loop.last %}
<br>
{% endif %}
{% endfor %} </p>
  </div>
  <div style="width: 24%;vertical-align: top; display: inline-block; text-align: center;">
    <p  style="    color: #252525;
    text-align: center;
    font-size: 16px;
    font-weight: 500;"><b>Loading Port</b> <br>
    Cartagena
    <!-- {%  for loadingport in loading_port %}
     {{ loadingport | default('-')}}
    {% endfor %} -->
    </p>
    </div>
    <div style="width: 24%;vertical-align: top; display: inline-block; text-align: center;">
      <p  style="    color: #252525;
      text-align: center;
      font-size: 16px;
      font-weight: 500;"><b>Importer</b> <br>
       {{importers.name | default('-') |capitalize}} </p>
      </div>
      <div style="width: 24%;vertical-align: top; display: inline-block; text-align: center;">
        <p  style="    color: #252525;
        text-align: center;
        font-size: 16px;
        font-weight: 500;"><b>Destination Port</b> <br>
        Oakland
        <!-- {% for destinationPort in destination_port %}
         {{destinationPort | default('-')}} </p>
         {% endfor %} -->
        </div>
</div>
<div style="    width: 100%;
text-align: left;
padding: 30px;
font-size: 20px;"><b> {% if farmers.length > 0 %} Farmers {% endif %} </b></div>
{% for farmer in farmers %}
<div style="width: 100%; float: left; text-align: left;
padding: 0 30px; margin-bottom: 10px;"><span style="width: auto; padding-right: 20px; font-size: 16px;"> {{farmer.contact_name | default('-') |upper}} </span><a style="font-size: 16px;
    color: #717171;
text-decoration: none;" href="{{ifincaUrl}}{{farmer.uniqueid}}">VIEW PROFILE <img style="margin-left: 6px;
width: 18px;" src="{{redirectLogo}}"></a></div>


<div style="width: 100%;;    display: inline-block;
text-align: center;     padding: 0 30px;">
  <div style=" width: 33%; display: inline-block; text-align: center; float:left;">
    <p style="    color: #252525;
    text-align: center;
    font-size: 16px;
    font-weight: 500; text-align: left; margin-top: 10px; margin-bottom: 0;"><span style="color:#717171; font-size: 16px;">FARM NAME</span>
   <br>
  {{farmer.name | default('-') |capitalize}} </p>
    </div>
    <div style="width: 33%; display: inline-block; text-align: center; float:left;">
      <p style="    color: #252525;
      text-align: center;
      font-size: 16px;
      font-weight: 500; text-align: left; margin-top: 10px; margin-bottom: 0;"><span style="color:#717171; font-size: 16px;">COUNTRY</span>
     <br>
    {{farmer.address.country | default('-') |capitalize}} </p>
      </div>
      <div style="width: 33%; display: inline-block; text-align: center; float:left;">
        <p style="    color: #252525;
        text-align: center;
        font-size: 16px;
        font-weight: 500; text-align: left; margin-top: 10px; margin-bottom: 0;"><span style="color:#717171; font-size: 16px;">REGION</span>
       <br>
       {% for region in farmer.additional_data.region %}
      {{region | default('-') |capitalize}}
      {% if !loop.last %}
      <br>
      {% endif %}
      {% endfor %}</p>
        </div>
</div>

<div style="width: 100%;;    display: inline-block;
text-align: center;     padding: 0 30px;">
  <div style="width: 33%; display: inline-block; text-align: center; float:left;">
    <p style="    color: #252525;
    text-align: center;
    font-size: 16px;
    font-weight: 500; text-align: left; margin-top: 10px; margin-bottom: 0;"><span style="color:#717171; font-size: 16px;">FARM SIZE</span>
   <br>
   {{farmer.additional_data.farm_size | default('-')}}</p>
    </div>
    <div style="width: 33%; display: inline-block; text-align: center; float:left;">
      <p style="    color: #252525;
      text-align: center;
      font-size: 16px;
      font-weight: 500; text-align: left; margin-top: 10px; margin-bottom: 0;"><span style="color:#717171; font-size: 16px;">ELEVATION</span>
     <br>
     {{farmer.additional_data.elevation.from }} - {{farmer.additional_data.elevation.to }} {% if farmer.additional_data.elevation.from %} m {% endif %}</p>
      </div>
      <!-- <div style="width: 33%; display: inline-block; text-align: center;">
        <p style="    color: #252525;
        text-align: center;
        font-size: 16px;
        font-weight: 500; text-align: left; margin-top: 10px; margin-bottom: 0;"><span style="color:#717171; font-size: 16px;">FARM NAME</span>
       <br>
       Monteblanco</p>
        </div> -->
</div> 
<hr style="margin:30px 30px; ">
{% endfor %}

<!-- <div style="width: 100%; float: left; text-align: left;
padding: 0 30px; margin-bottom: 10px;"><span style="width: auto; padding-right: 20px; font-size: 16px;">Rodrigo Sanchez</span><a style="font-size: 16px;
    color: #717171;
    text-decoration: none;" href="#">VIEW PROFILE <img style="margin-left: 6px;
    width: 18px;" src="images/redirect.png"></a></div> -->


<!-- <div style="width: 100%;;    display: inline-block;
text-align: center;     padding: 0 30px;">
  <div style="width: 33%; display: inline-block; text-align: center;">
    <p style="    color: #252525;
    text-align: center;
    font-size: 16px;
    font-weight: 500; text-align: left; margin-top: 10px; margin-bottom: 0;"><span style="color:#717171; font-size: 16px;">FARM NAME</span>
   <br>
   Monteblanco</p>
    </div>
    <div style="width: 33%; display: inline-block; text-align: center;">
      <p style="    color: #252525;
      text-align: center;
      font-size: 16px;
      font-weight: 500; text-align: left; margin-top: 10px; margin-bottom: 0;"><span style="color:#717171; font-size: 16px;">FARM NAME</span>
     <br>
     Monteblanco</p>
      </div>
      <div style="width: 33%; display: inline-block; text-align: center;">
        <p style="    color: #252525;
        text-align: center;
        font-size: 16px;
        font-weight: 500; text-align: left; margin-top: 10px; margin-bottom: 0;"><span style="color:#717171; font-size: 16px;">FARM NAME</span>
       <br>
       Monteblanco</p>
        </div>
</div> -->

<!-- <div style="width: 100%;;    display: inline-block;
text-align: center;     padding: 0 30px;">
  <div style="width: 33%; display: inline-block; text-align: center;">
    <p style="    color: #252525;
    text-align: center;
    font-size: 16px;
    font-weight: 500; text-align: left; margin-top: 10px; margin-bottom: 0;"><span style="color:#717171; font-size: 16px;">FARM NAME</span>
   <br>
   Monteblanco</p>
    </div>
    <div style="width: 33%; display: inline-block; text-align: center;">
      <p style="    color: #252525;
      text-align: center;
      font-size: 16px;
      font-weight: 500; text-align: left; margin-top: 10px; margin-bottom: 0;"><span style="color:#717171; font-size: 16px;">FARM NAME</span>
     <br>
     Monteblanco</p>
      </div>
      <div style="width: 33%; display: inline-block; text-align: center;">
        <p style="    color: #252525;
        text-align: center;
        font-size: 16px;
        font-weight: 500; text-align: left; margin-top: 10px; margin-bottom: 0;"><span style="color:#717171; font-size: 16px;">FARM NAME</span>
       <br>
       Monteblanco</p>
        </div>
</div>  -->


  </div>

</div>

</body>
</html>
